
# General
.DS_Store
*.pem
*.log

# Python
__pycache__/
*.pyc
.env
venv/
env/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
